
<%= @event.name %>


<!-- simple_format( ... ) is in built-in View Helper -->

<%= simple_format(@event.description) %>  


<% if false %>
    <p> <%= link_to 'Back to index', :controller => 'events', :action => 'index' %> </p>
<% end %>



<% if false %>
# RESTful style
<% end %>

<p>  <%= link_to 'Back to index', events_path %> </p>